<div class="center jumbotron">
  <h1>Welcome to Coderlabs On Wheels</h1>

  <h2>
    Find technical speakers for your tech conferences in Kenya
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

