@import "bootstrap";


  /* universal */

body {
  
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


.navbar ul li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;
  
}


 .navbar-collapse
    {
    background-color:#2d246d;
    border-color:#2d246d;
    color:#2d246d;
     }
.navbar-inverse .container {
   background-color:#2d246d;
   border-color:#2d246d;
   color:#2d246d;
   }